
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    text-decoration: none;
}
body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.btn
{
    padding: 10px 25px;
    font-size: 24px;
    color: white;
    background-color: skyblue;
    box-shadow: 0 0 5px silver;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.btn span 
{
    position: relative;
    z-index: 1; 
}

.btn::before
{
    content: "";
    position: absolute;
    background-color: rgb(0, 183, 255);
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}

.btn:hover::before
{
    width: 250px;
    height: 250px;
}