*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

form
{
    max-width: 350px;
    width: auto;
    height: 240px;
    margin: auto;
    padding: 32px;
    background: lightblue;
    border-radius: 10px;
}
form label
{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

form input[type=password]
{
    display: block;
    height: 35px;
    margin-bottom: 8px;
    padding: 10px;
    width: 100%;
    border: 2px solid #cccccc;
    font-size: 16px;
    border-radius: 4px;
    letter-spacing: 1px;
}
form ul.helper-text
{
    display: block;
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
    color: #808080;
}
form ul.helper-text li.valid
{
    color: #1AB23E;
    text-decoration-line: line-through;
}
form.valid input
{
    border: 2px solid #1fd34a;
}